fastapi                  # FastAPI 프레임워크
uvicorn[standard]        # FastAPI 실행을 위한 ASGI 서버
tensorflow               # 머신러닝 모델 로드를 위한 TensorFlow
pillow                   # 이미지 처리를 위한 PIL (Pillow)
numpy                    # 이미지 배열 및 데이터 처리를 위한 NumPy
sqlalchemy               # SQLAlchemy ORM
asyncpg                  # 비동기 PostgreSQL 드라이버
